---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import BlogList from '../../components/BlogList.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

export async function getStaticPaths({ paginate }) {
	const pageSize = 10;
	const posts = (await getCollection('blog')).sort(
		(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
	);
	return paginate(posts, { pageSize });
}

const { page } = Astro.props;
const pageTitle =
	page.currentPage === 1 ? `${SITE_TITLE} — blog` : `${SITE_TITLE} — blog — page ${page.currentPage}`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<BlogList
				posts={page.data}
				pagination={{
					currentPage: page.currentPage,
					lastPage: page.lastPage,
					prevUrl: page.url.prev,
					nextUrl: page.url.next,
				}}
			/>
		</main>
		<Footer />
	</body>
</html>
